@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFEADD;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

nav ul li {
    padding: 20px 60px;
    list-style: none;
}

ul li :hover {
    background-color: darksalmon
}

a {
    text-decoration: none;
    cursor: pointer;
    color: brown;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dispaly-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}